<div class="wrapping">
  <div class="title">
    <h1>All of our cocktails!</h1>
  </div>

  <div class="new_cocktail">
    <%= link_to new_cocktail_path do %>
        <button type="button" class="btn btn-success">Add a cocktail</button>
        <% end %>
  </div>


  <div class="container">
    <div class="row">
      <% @cocktails.each_slice(6) do |slice| %>
        <% slice.each_with_index do |cocktail, index| %>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="padding">
              <div class="card border" style="background-image: url(<%= image_path("cocktail#{index}.jpeg") %>;">
                  <h3><%= cocktail.name %></h3>
                  <%= link_to "", cocktail_path(cocktail), class: "card_link" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<div class="new_cocktail">
    <%= link_to new_cocktail_path do %>
        <button type="button" class="btn btn-success">Add a cocktail</button>
        <% end %>
  </div>



